configure
usual/config.h*
config.status
config.log
config.mak
obj
test/obj
test/test_config.h
test/regtest
doc/html
*.[oas]
*.gc[odn][aov]

./install-sh
config.guess
config.sub
ltmain.sh
libtool
build.mk
.objs
.libs
.deps
