Source: libusual
Priority: extra
Maintainer: Marko Kreen <markokr@gmail.com>
Build-Depends: build-essential, debhelper (>= 7), libssl-dev (>= 1.0.1), libevent-dev (>= 2.0), doxygen
Standards-Version: 3.9.2
Section: libs
Homepage: https://libusual.github.io/
Vcs-Browser: https://github.com/libusual/libusual

Package: libusual-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libusual (= ${binary:Version}), make
Description: Modern C Environment, development files
 Static library, header files, and documentation for libusual.

Package: libusual0
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Modern C Environment, shared library
 Shared library

